/* Sidebar */

.sidebar {
  min-height: 100vh;
  background: #0b1220;
  color: #fff;
}

.nav-link {
  color: #cbd5f5;
  border-radius: 0.375rem;
  margin-bottom: 0.25rem;
  font-size: 0.95rem;
}

.nav-link.active {
  background: #1d283a;
  color: #fff;
}


/* Signup Page */
.signup-page {
  background: #eef4ff;
  min-height: 100vh;
}

.signup-card {
  border-radius: 20px;
  overflow: hidden;
}

.object-fit-cover {
  object-fit: cover;
  
}



.service-multiselect-container {
  position: relative;
}

.service-multiselect-menu {
  /* position: absolute; */
  width: 100%;
  top: 100%;
  left: 0;
  background: white;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  max-height: 200px;
  overflow-y: auto;
  z-index: 9999;
}


/* login page */

.login-page {
  background: #eef4ff;
  height: 100vh;
}

.object-fit-cover {
  object-fit: cover;
}

/* dashboard page */

.dashboard-card:hover {
  transform: translateY(-3px);
  transition: 0.25s ease;
}

.dashboard-card {
  border: 1px solid #e2e8f0;
  cursor: pointer;
  transition: 0.25s ease;
}


/* deals - register deal modal css */
.modal-content {
  background: #ffffff;
}

.form-control,
.form-select {
  height: 45px;
  border: 1px solid #dce2eb;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: #6c63ff;
}

.modal-header h4 {
  color: #0b132b;
}

.modal-body label {
  color: #36454f;
}



